<div class="landing-wrapper">
  <!-- Credit to the artist -->
  <img class="bg" src="./assets/img/lindsay-henwood-7_kRuX1hSXM-unsplash.jpg" alt="background">
  <div class="content-wrapper" >
    <div>
      <img src="./assets/img/144px-RHB_Logo.png" alt="background">
    </div>
    <div class="title">
        <h1>Front-end Assessment</h1>
    </div>
    <div class="owner">
        Developed by <span>Aqly Kamarudin</span>
    </div>
    <button type="button" routerLink="/search-page">START SEARCHING</button>
  </div>
</div>