<div class="pagination-wrapper" *ngIf="maxPage > 0">
  <div class="pagination" *ngIf="maxPage < 7">
    <a class="prev page-numbers" href="javascript:;">prev</a>
    <span aria-current="page" class="page-numbers current" (click)="changePage(1)" [class.current]="selectedPage === pageNumber">1</span>
    <a class="dots">...</a>
    <a class="page-numbers" href="javascript:;" *ngFor="let pageNumber of [selectedPage-1,selectedPage,selectedPage+1]" (click)="changePage(pageNumber)"
    [class.current]="selectedPage === pageNumber">
      {{pageNumber}}
    </a>
    <a class="dots">...</a>
    <a class="page-numbers" href="javascript:;" (click)="changePage(maxPage)">{{maxPage}}</a>
    <a class="next page-numbers" href="javascript:;">next</a>
  </div>

  <div class="pagination" *ngIf="selectedPage > 3">
      <a class="prev page-numbers" href="javascript:;">prev</a>
      <span aria-current="page" class="page-numbers current" (click)="changePage(1)" [class.current]="selectedPage === pageNumber">1</span>
      <a class="dots">...</a>
      <a class="page-numbers" href="javascript:;" *ngFor="let pageNumber of [selectedPage-1,selectedPage,selectedPage+1]" (click)="changePage(pageNumber)"
      [class.current]="selectedPage === pageNumber">
        {{pageNumber}}
      </a>
      <a class="dots">...</a>
      <a class="page-numbers" href="javascript:;" (click)="changePage(maxPage)">{{maxPage}}</a>
      <a class="next page-numbers" href="javascript:;">next</a>
    </div>
</div>