$primary-color: #70cde3;
$secondary-color: #005aac;
$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #eee;
$white: #fff;

$max-m-size: 767.98px;
$min-m-size: 768px;

$transition-default: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
$transition-quick: all 0.1s ease;
$duration: 400ms;
$easing: ease;